* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  background: linear-gradient(90deg, #f5f3f6 4%, #f1c40f 70%, #f39c12 100%);
  color: black;
  font-family: sans-serif; }
  body .estiloGeneral {
    display: grid;
    grid-template-columns: repeat(4, 0.25fr);
    grid-template-rows: 0.1fr 2fr 0.5fr;
    grid-template-areas: "header header header header" "main main main main" "footer footer footer footer";
    height: 100vh; }
    body .estiloGeneral header {
      grid-area: header; }
    body .estiloGeneral main {
      grid-area: main; }
    body .estiloGeneral footer {
      grid-area: footer; }
