@import "../base/variables";
@import "../base/mixin";
@import "../base/maps";
@import "../base/extend";

footer{
    grid-area: footer; display: grid; grid-template-columns: 0.5fr 1.5fr;grid-template-rows: 0.5fr 0.1fr;grid-template-areas: "footerDerecha footerCentral" "footerAbajo footerAbajo";background: linear-gradient(90deg, $colorFondoUno 5%, $colorFondoDos 20%, $colorFondoTres 75%, $colorFondoCuatro 100%);@extend %diseñoBordes;
    .footerDerecha{
        grid-area: footerDerecha;
        img{width:60%}
    };
    .footerCentral{grid-area: footerCentral;
        display: flex;flex-direction: column;justify-content: space-between;align-items: flex-start;row-gap: 1rem;
        .footerSecciones{
         h3{
                text-align: left;
            };
         ul{
             li{
                list-style:map-get($map: $diseñoEstandar, $key:subrayado ); text-decoration:map-get($map: $diseñoEstandar, $key:subrayado );
             a{
                list-style:map-get($map: $diseñoEstandar, $key:subrayado ); text-decoration: map-get($map: $diseñoEstandar, $key:subrayado );color: map-get($map: $diseñoEstandar, $key:colorEstandar); font-weight: lighter;}}
         }};
        .footerDescarga{
         h3{text-align: left};
         ul{
            li{list-style:map-get($map: $diseñoEstandar, $key:subrayado ); text-decoration: map-get($map: $diseñoEstandar, $key:subrayado );word-spacing: 2px;}
         }};
      .footerContacto{
            h3{text-align: left};
            ul{
                li{
                    list-style:map-get($map: $diseñoEstandar, $key:subrayado ); text-decoration: map-get($map: $diseñoEstandar, $key:subrayado );a{
                        list-style:map-get($map: $diseñoEstandar, $key:subrayado ); text-decoration: map-get($map: $diseñoEstandar, $key:subrayado );color: map-get($map: $diseñoEstandar, $key:colorEstandar ); font-weight: lighter;};
                        a:hover{
                            color: white;}};
                .mail{
                    margin-right: 5px; font-size: small;};
                .redesSociales{img{width:8%}}
            }
         }
    };
    .footerAbajo{ grid-area:footerAbajo;@include flexColumn;margin-top: 10px;
    }}

    @media screen and (min-width:600px) {
        footer {
            display: grid;grid-template-columns: repeat(4,1fr); grid-template-rows:1fr 0.25fr;grid-template-areas: "logo centro centro centro" "logo abajo abajo abajo";
            .footerDerecha {grid-area:logo;};
            .footerCentral{
                grid-area: centro;display: flex;flex-direction: row;justify-content: space-between;
                .footerSecciones{h3{text-align: center};
                    ul{text-align: center;
                    li{padding: 5px}}width:30rem};
                .footerDescarga{h3{text-align: center;}
                    ul{text-align: center;
                        li{padding: 5px}};width:60rem};
                .footerContacto{h3{text-align: center}
                    ul{text-align: center;
                        li{
                            padding: 5px};.redesSociales{img{width:20%}}}}};
          .footerAbajo{grid-area:abajo}}
 };
@media screen and (min-width:1200px) {
         footer { 
            .footerCentral{
                .footerSecciones{
                    ul{
                        li{
                            a:hover{color: white}}}}}}}