@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import"../base/variables";
@import "../base/maps";
@import "../base/extend";

header{grid-area:header;background: linear-gradient(90deg, $colorFondoUno 20%, $colorFondoDos 40%, $colorFondoTres 75%, $colorFondoCuatro 100%);
    .row{
        nav{
             .container-fluid{
                 display: grid;grid-template-columns: 0.5fr 3fr 0.1fr;grid-template-areas: "img h1 desplegable";align-items: center;text-align: center;justify-content: space-between; background: linear-gradient(90deg, $colorFondoUno 5%, $colorFondoDos 20%, $colorFondoTres 75%, $colorFondoCuatro 100%);@extend %dise単oBordes;
                 a{
                     img{width: 85%;grid-area: img;}
                   };
                 h1{
                     a{font-family:'Permanent Marker'; color: map-get($map: $dise単oEstandar, $key:colorEstandar )
                     ;text-align: center;justify-content: center;grid-area: h1;font-size:larger}
                    };
                  .desplegable{
                      grid-area: desplegable;
                      #offcanvasNavbar
                        {
                          background: linear-gradient(360deg, $colorFondoUno 10%, $colorFondoDos 20%, $colorFondoTres 60%, $colorFondoCuatro 100%);
                          .offcanvas-header{
                             h2{
                                color:map-get($map: $dise単oEstandar, $key:colorEstandar );font-size: 2rem;}
                            };
                          .offcanvas-body{
                               .navbar-nav{
                                 .nav-item{
                                     a{color: map-get($map: $dise単oEstandar, $key:colorEstandar );font-size: 1rem;font-weight:2px;}
                                     }
                                 .dropdown{
                                     .dropdown-menu{ background: linear-gradient(270deg, $colorFondoUno 5%, $colorFondoDos 20%, $colorFondoTres 60%, $colorFondoCuatro 100%);}
                                    }
                                }
                            }}}}}}}