@import"../base/variables";
@import "../base/mixin";
@import "../base/maps";
@import "../base/extend";

main {
 .mainArriba{
     img{
         width:$medidaImagenesPrincipales
        }};
     .formularioHome{
         fieldset{
             @extend %diseñoBordes;
             legend{
                 font-size:x-small;color:map-get($map: $diseñoEstandar, $key:colorSecundario );text-align: center;font-weight: map-get($map: $diseñoEstandar, $key:grosor );text-shadow: 1px 1px map-get($map: $diseñoEstandar, $key:colorEstandar );
                };
             div{
                font-size:xx-small;color:map-get($map: $diseñoEstandar, $key:colorSecundario );text-align: left; font-weight: map-get($map: $diseñoEstandar, $key:grosor);text-shadow: 1px 1px map-get($map: $diseñoEstandar, $key:colorEstandar );
                img{
                 width:5%};
               input{
                width: 4rem;font-size:smaller;}}
            };
         position: relative;bottom: 110px;left: 280px;max-width: 12rem;max-height: 0.1rem;
        };
 .animate__shakeY{
     h2{text-align: center; word-spacing: 2px;font-size:2.8rem;margin: 50px;color:$colorLetras;text-shadow: 2px 2px map-get($map: $diseñoEstandar, $key:colorEstandar );}
    };
 .seccionUnoHome{
     display: grid;grid-template-columns: 0.5fr 0.5fr;column-gap: 1.5rem;border-bottom: 5px solid $colorLetras;margin-bottom: 25px;row-gap: 2rem;margin-left: 10px;margin-right: 10px;
     .seccionUnoHomeReduce {
         @include flexColumn;img{width: 20%;justify-content: center};h3{text-align: center;color: white};p {text-align: center;width: 10rem;color:white}
        };
     .seccionUnoHomeFacil{
         @include flexColumn;margin-top:10px;img{width: 15%;justify-content: center;};h3{text-align: center;color: white};p {text-align: center;width: 9.5rem;color: white}
        };
     .seccionUnoHomeEncontra{
         @include flexColumn;img{width: 15%;justify-content: center};h3{text-align: center;color: white};p {text-align: center;width: 10rem;color: white}
        };
     .seccionUnoHomeArma {
         @include flexColumn;margin-bottom:43px;img{width: 15%;justify-content: center};h3{text-align: center;color: white};p {text-align: center;width: 9.5rem;color: white;margin-top:27px}
        }
    };
 .homePasos{
     .mapaHome{
          iframe{width: 95%;margin-left: 15px;margin-right: 15px;}
        };
     .seccionDosHome{
         @include flexColumn;
         h2{text-align: center;word-spacing: 2px;font-size:40px;margin: 15px;color:$colorLetras;text-shadow: 2px 2px map-get($map: $diseñoEstandar, $key:colorEstandar );};
         ol{@include flexColumn;color: white;
         li{font-weight:map-get($map: $diseñoEstandar, $key:grosor );color: white};
         img {margin: 10px;};
         .seccionDosHomeBusca{ @include flexColumn;
         p {text-align: center;width: 20rem;font-size: 1rem;margin: 10px;color: white};img{width:10%}
         };
         .seccionDosHomeReserva { @include flexColumn;p {text-align: center;width: 20rem;font-size: 1rem;color: white};img{width:15%}};
         .seccionDosHomeJuega { @include flexColumn;p {text-align: center;font-size: 1rem;color: white};img{width: 10%}}}}}};

@media screen and (min-width:600px)
{main
   {
     .formularioHome{
          position: relative;bottom: 155px;left: 360px;max-width: 14rem;max-height: 0.1rem;
             fieldset{
             legend{
                 font-size:smaller;color:map-get($map: $diseñoEstandar, $key:colorSecundario );text-align: center;font-weight: map-get($map: $diseñoEstandar, $key:grosor );text-shadow: 1px 1px map-get($map: $diseñoEstandar, $key:colorEstandar );margin: 2px;
                };
               div{
                 font-size:smaller;color: map-get($map: $diseñoEstandar, $key:colorSecundario );text-align: left; font-weight: map-get($map: $diseñoEstandar, $key:grosor );text-shadow: 1px 1px map-get($map: $diseñoEstandar, $key:colorEstandar );margin: 2px;img {width: 10%;}
                }}};
     .seccionUnoHome {@include flexColumnAround; 
        .seccionUnoHomeReduce{img{width:20%}};
     .seccionUnoHomeFacil {img{width:15%}};
     .seccionUnoHomeEncontra{img{width:15%}};
     .seccionUnoHomeArma{img{width:10%}}};
     .homePasos{display: grid;grid-template-columns: 1fr 0.5fr;grid-template-areas: "mapa seccionDos";.mapaHome {grid-area: mapa;iframe {width: 90%;}};.seccionDosHome {grid-area: seccionDos;justify-content: center;align-items: center;text-align: center;}}}
    };
 @media screen and (min-width:1200px) { 
 main
    {
     .formularioHome{
        position: relative;bottom: 222px;left: 100px;max-width: 25rem;max-height: 3rem;
        fieldset{
            legend {font-size:larger;color:map-get($map: $diseñoEstandar, $key:colorSecundario );text-align: center;font-weight: map-get($map: $diseñoEstandar, $key:grosor );text-shadow: 1px 1px map-get($map: $diseñoEstandar, $key:colorEstandar );margin: 5px;};
         div {font-size:larger;color: map-get($map: $diseñoEstandar, $key:colorSecundario );text-align: left; font-weight: map-get($map: $diseñoEstandar, $key:grosor );text-shadow: 1px 1px map-get($map: $diseñoEstandar, $key:colorEstandar );margin: 5px;img {width: 8%;};input {width: 7rem;font-size:small;}}}
       };
       .seccionUnoHome{
        display: grid;grid-template-columns: 0.5fr 0.5fr;column-gap: 1.5rem;border-bottom: 5px solid $colorLetras;margin-bottom: 25px;row-gap: 2rem;margin-left: 10px;margin-right: 10px;
        .seccionUnoHomeReduce {
            @include flexColumn;img{width: 5%;justify-content: center};h3{text-align: center;color: white};p {text-align: center;width: 10rem;color:white}
           };
        .seccionUnoHomeFacil{
            @include flexColumn;margin-top:10px;img{width: 5%;justify-content: center;};h3{text-align: center;color: white};p {text-align: center;width: 9.5rem;color: white}
           };
        .seccionUnoHomeEncontra{
            @include flexColumn;img{width: 5%;justify-content: center};h3{text-align: center;color: white};p {text-align: center;width: 10rem;color: white}
           };
        .seccionUnoHomeArma {
            @include flexColumn;img{width: 5%;justify-content: center};h3{text-align: center;color: white};p {text-align: center;width: 10rem;color: white;}
           }
       }}}