@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "../base/variables";
@import "../base/mixin";
@import "../base/maps";
@import "../base/extend";

main
{
 .mainArriba
   {
      img
        {
         width:$medidaImagenesPrincipales
        }
    };
 .textoNosotros{
     p{color:white;text-align: center;word-spacing: 2px;font-size:1.2rem;margin: 30px;}
     span {color:$colorPrincipal;text-shadow: 1px 1px map-get($map: $diseñoEstandar, $key:colorEstandar );font-weight: map-get($map: $diseñoEstandar, $key:grosor );};
     .deporteando {font-family:'Permanent Marker';color:$colorPrincipal;}
    };
 .sloganNosotros {text-align: center;color:white; h3{margin-bottom: 30px;.deporteando{font-family:'Permanent Marker';color:$colorPrincipal}};img{width: 10%;margin-bottom: 10px;display: none;}}
}
@media screen and (min-width:600px)
{main{
.sloganNosotros{ img {width: 80%;margin-bottom: 10px;display: inline-block;}}}}