@import"../base/variables";
@import "../base/mixin";
@import "../base/maps";
@import "../base/extend";
main
{
 .mainArriba
   {
      img
        {
         width:$medidaImagenesPrincipales
        }
    };
 .funcionamientoEstablecimientoDeportivo
    {
     h3 {
         text-align: center;margin: 10px;word-spacing: 2px;font-size:1.2rem;color:$colorLetras;text-shadow: 1px 1px map-get($map: $diseñoEstandar, $key:colorEstandar );font-weight: map-get($map: $diseñoEstandar, $key:grosor );
        };
       ol {@include flexColumn; img {margin: 10px;};li {font-weight: map-get($map: $diseñoEstandar, $key:grosor );font-size: 1rem;text-shadow: 0.2px 0.2px map-get($map: $diseñoEstandar, $key:colorPrincipal );}; p{font-size: 1rem;margin: 5px;}};
       .funcionamientoRegistra{ p {width:20rem};img {width: 5%;}};.funcionamientoCompleta{ p {width:20rem}; img {width:5%}};.funcionamientoDisfruta{ p {width:20rem}; img {width:7%}}
    };
  .funcionamientoDeportista{ 
       h3 {
         text-align: center;margin: 10px;word-spacing: 2px;font-size:1.2rem;color:$colorLetras;text-shadow: 1px 1px map-get($map: $diseñoEstandar, $key:colorEstandar );font-weight: map-get($map: $diseñoEstandar, $key:grosor );
        };
         ol {@include flexColumn; img {margin: 10px;};li {font-weight: bold;font-size: 1rem;text-shadow: 0.2px 0.2px grey;} p{font-size: 1rem;margin: 5px;}}; .funcionamientoRegistra{ p {width:20rem};img {width: 5%;}};.funcionamientoBusca{ p {width:20rem}; img {width:5%}};.funcionamientoDisfruta {p {width:20rem}; img {width:7%};}
    }
};

@media screen and (min-width:1200px) {
 main
    {
     .funcionamientoEstablecimientoDeportivo {ol {display: grid;grid-template-columns: repeat(2,1fr);grid-template-rows: repeat(2,1fr);grid-template-areas: "funcionamientoRegistra funcionamientoCompleta" "funcionamientoDisfrutar funcionamientoDisfrutar";}};.funcionamientoRegistra {grid-area: funcionamientoRegistra; img {width: 8%;} p {width: 30rem;}};.funcionamientoCompleta {grid-area: funcionamientoCompleta;img {width: 8%;};p {width: 30rem}};.funcionamientoDisfruta {grid-area: funcionamientoDisfrutar; img{width: 5%;} p {width: 30rem;text-align: center;}}; h3 {font-size:2rem};.funcionamientoDeportista{ ol {display: grid;grid-template-columns: repeat(2,1fr);grid-template-rows: repeat(2,1fr);grid-template-areas: "funcionamientoRegistra funcionamientoCompleta" "funcionamientoDisfrutar funcionamientoDisfrutar";};.funcionamientoRegistra {grid-area: funcionamientoRegistra;img {width: 8%; p {width: 30rem;}}};.funcionamientoBusca {grid-area: funcionamientoCompleta; img {width: 6%;};p {width: 30rem}};.funcionamientoDisfruta {grid-area: funcionamientoDisfrutar; img{width: 4%;}; p {width: 30rem;text-align: center;}}};h3 {font-size:2rem}}}
