@import "../base/variables";
@import "../base/mixin";
@import "../base/maps";
@import "../base/extend";
main
{
 .mainArriba
   {
      img
        {
         width:$medidaImagenesPrincipales
        }
    };
 .futbolCentral {
     text-align: center;margin-bottom: 10px;
    }
  .complejosInscriptosFutbol{
     @include flexColumn;
     .complejoInscriptoFutbolUno
        {
         display: flex;flex-direction: column;align-items: center;row-gap: 1rem; margin-top: 10px ;margin-bottom: 10px;
         .imagenComplejo {
             width: 60%;@extend %diseñoBordes;
            };
         ul
            { li 
                {list-style: map-get($map: $diseñoEstandar, $key:subrayado );text-align: left;margin-left: 90px;};
             .imagenTelefono {width: 5%; }
            }
        };
        .complejoInscriptoFutbolDos
        {
         display: flex;flex-direction: column;align-items: center;row-gap: 1rem; margin-top: 10px ;margin-bottom: 10px;
         .imagenComplejo
            {
             width: 60%;@extend %diseñoBordes;
            };
         ul
            { li
                {
                    list-style: map-get($map: $diseñoEstandar, $key:subrayado );text-align: left;margin-left: 90px;
                };
             .imagenTelefono {width: 5%; }
            }
        };
        .complejoInscriptoFutbolTres
        {
         display: flex;flex-direction: column;align-items: center;row-gap: 1rem; margin-top: 10px ;margin-bottom: 10px;
         .imagenComplejo {
             width: 60%;@extend %diseñoBordes;
            };
         ul
            { li 
                {list-style: map-get($map: $diseñoEstandar, $key:subrayado );text-align: left;margin-left: 90px;};
             .imagenTelefono {width: 5%; }
            }
        };
   }
   
 .tenisCentral {
    text-align: center;margin-bottom: 10px;
    img {width:5%}};
 .complejosInscriptosTenis{
    @include flexColumn;
    .complejoInscriptoTenisUno
       {
        display: flex;flex-direction: column;align-items: center;row-gap: 1rem; margin-top: 10px ;margin-bottom: 10px;
        .imagenComplejo {
            width: 60%;@extend %diseñoBordes;
           };
        ul
           { li 
               {list-style: map-get($map: $diseñoEstandar, $key:subrayado );text-align: left;margin-left: 90px;};
            .imagenTelefono {width: 5%; }
           }
       };
       .complejoInscriptoTenisDos
       {
        display: flex;flex-direction: column;align-items: center;row-gap: 1rem; margin-top: 10px ;margin-bottom: 10px;
        .imagenComplejo
           {
            width: 60%; @extend %diseñoBordes;
           };
        ul
           { li
               {
                   list-style:map-get($map: $diseñoEstandar, $key:subrayado );text-align: left;margin-left: 90px;
               };
            .imagenTelefono {width: 5%; }
           }
       };
       .complejoInscriptoTenisTres
       {
        display: flex;flex-direction: column;align-items: center;row-gap: 1rem; margin-top: 10px ;margin-bottom: 10px;
        .imagenComplejo {
            width: 60%;@extend %diseñoBordes;
           };
        ul
           { li 
               {list-style: map-get($map: $diseñoEstandar, $key:subrayado );text-align: left;margin-left: 90px;};
            .imagenTelefono {width: 5%; }
           }
       }
    }
 .formularioInscripcion{ 
    h3 {text-align: center;margin: 30px; word-spacing: 2px;font-size:1.5rem;color:$colorLetras;text-shadow: 1px 1px map-get($map: $diseñoEstandar, $key:colorEstandar );font-weight: map-get($map: $diseñoEstandar, $key:grosor );};margin: 5px; fieldset {@extend %diseñoBordes; legend {text-align: center;font-weight:map-get($map: $diseñoEstandar, $key:grosor );margin: 10px;text-shadow: 1px 1px map-get($map: $diseñoEstandar, $key:colorPrincipal );}; label {font-size:0.8rem;margin: 5px;text-align: center;align-items: center;text-align: center;font-weight:map-get($map: $diseñoEstandar, $key:grosor );margin: 10px;text-shadow: 0.5px 0.5px map-get($map: $diseñoEstandar, $key:colorPrincipal );}; input {margin-bottom: 3px;};.botonesFormulario {margin: 10px;}}}
 }
 @media screen and (min-width:600px)
 {main
     { .complejosInscriptosFutbol
         {flex-direction:row; 
             ul
             { 
                 li {
                  list-style: map-get($map: $diseñoEstandar, $key:subrayado );text-align: left;margin-left: 30px;
                 };
                 .imagenTelefono {width: 9%;margin-left:3px}
             }
         };
      .complejosInscriptosTenis
       {flex-direction: row;
         ul{
             li{list-style: map-get($map: $diseñoEstandar, $key:subrayado );text-align: center;margin-left:30px};
             .imagenTelefono{width:9%;margin-left: 3px};
         }}}}
 @media screen and (min-width:1200px)
 {main
     { .complejosInscriptosFutbol
         {ul
             { 
                 li {
                  margin-left: 90px;
                 };
             }
        };
      .complejosInscriptosTenis
       {ul{
             li{margin-left:90px};
         }
        };
        .formularioInscripcion{
            h3
             {font-size:2.3rem;};
             fieldset{legend{font-size: 1.5rem;margin: 5px;};label{font-size:1rem;};input {margin-bottom: 3px;};.botonesFormulario{margin: 10px;}}}
        }
    }
     
 
