$colorPrincipal:#FF9702;
$colorFondoUno:rgba(255,255,255,1);
$colorFondoDos: rgba(255,164,36,1);
$colorFondoTres:rgba(255,152,0,1);
$colorFondoCuatro:rgba(189,110,3,1);
$colorLetras:#D35400;
$medidaImagenesPrincipales: 100%;